body {
     margin: 0 auto;
     background-color: #eb502f;
}
 .top {
     height: 53px;
     width: 100%;
     background-color: white;
     z-index: 100;
}
 .content {
     margin-top: 70px;
     width: 100%;
     height: auto;
     text-align: center;
}
 input[type=text]:focus {
     background-color: lightblue;
}
 #form {
     text-align: center;
}
 #uname {
     background: white;
     padding: 20px;
     width: 300px;
     height: 30px;
     border-style: none;
}
 input[type=button], input[type=submit], input[type=reset] {
     background-color: white;
     border: none;
     color: black;
     padding: 16px 32px;
     text-decoration: none;
     font-weight: 3em;
     margin: 4px 2px;
     cursor: pointer;
     width: 134px;
}
